<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css">
		<title><%= data.label%> - Countries Recipes</title>
	</head>
	<body>
		<header>
			<h1>Countries Recipes</h1>
		</header>
		<main id="country">
			<a href="/" >Back to list</a>

			<article>
				<h3><%= data.label%></h3>
				<p>Culinary speciality : <%= data.recipe %></p>
                <p><%= data.description%></p>
			</article>
			<hr />
		</main>
	</body>
</html>
